canvas
{
    align-self: center;
    border: 2px solid black;
}

body
{
    background-color: #ffffff;
}

span .buildables
{
    align-items: left;
    display: float;
}

button.turret
{
    display: block;
}